[package]
name = "hash_renamer"
version = "1.0.0"
edition = "2021"

[dependencies]
md5 = "0.7"
rayon = "1.8"

[build-dependencies]
winres = "0.1"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
strip = true
panic = "abort"